context:
  session: kyon
  params:
    hw_type: ec_pos
  .defines:
    - &embedded embedded@10.24.13.100
    - &control kyon@10.24.13.102
    - &vision kyon@10.24.13.101

    - &docker-xeno  kyon-cetc-focal-ros1-xeno-dev-1
    - &docker-dev  kyon-cetc-focal-ros1-dev-1
    - &docker-loco kyon-cetc-focal-ros1-locomotion-1


imu: 
  cmd: roslaunch vectornav vectornav.launch
  machine: *embedded
  ready_check: timeout 5 rostopic echo /xbotcore/imu/imu_link -n 1
  docker: *docker-xeno

ecat:
  cmd: ecat_master
  machine: *embedded
  docker: *docker-xeno

xbot2:
  cmd: xbot2-core --hw {hw_type}
  machine: *embedded
  ready_check: timeout 5 rostopic echo /xbotcore/joint_states -n 1
  depends: [imu]
  docker: *docker-xeno
  variants:
    verbose:
      cmd: "{cmd} -V"
    ctrl:
      - ec_idle:
          params:
            hw_type: ec_idle
      - ec_pos:
          params:
            hw_type: ec_pos
      - dummy:
          params:
            hw_type: dummy

front_down_cam:
  cmd: bash /home/kyon/ros1-ros2-zed-jetson-docker/ros1_noetic/run_zed_front_down.bash
  machine: *vision
  show_ui: false
  #  ready_check: timeout 5 rostopic echo /zed_front_down/zed_node/rgb/image_rect_color -n 1

front_up_cam:
  cmd: bash /home/kyon/ros1-ros2-zed-jetson-docker/ros1_noetic/run_zed_front_up.bash
  machine: *vision
  show_ui: false
  #  ready_check: timeout 5 rostopic echo /zed_front_up/zed_node/rgb/image_rect_color -n 1

lidar:
  cmd: rosrun hesai_ros_driver hesai_ros_driver_node
  machine: *control 
  docker: *docker-dev
  show_ui: false

left_cam:
  cmd: ./launch_rs_cam_left_ros1.bash 
  machine: *control
  docker: *docker-dev
  show_ui: false

right_cam:
  cmd: ./launch_rs_cam_right_ros1.bash
  machine: *control
  docker: *docker-dev
  show_ui: false

park:
  cmd: rosrun kyon_cartesio parking.py -a park
  machine: *control
  docker: *docker-dev

box:
  cmd: rosrun kyon_cartesio parking.py -a box
  machine: *control
  docker: *docker-dev
  show_ui: false

unpark:
  cmd: rosrun kyon_cartesio parking.py -a unpark
  machine: *control
  docker: *docker-dev
  variants:
    dance:
      cmd: "{cmd} --dance"

joint_pose:
  cmd: rosrun kyon_cartesio joint_poses_client.py {pose_name}
  machine: *control
  docker: *docker-dev
  show_ui: false
  variants:
    pose_name:
      - home_left:
          params:
            pose_name: home_left
      - home_right:
          params:
            pose_name: home_right
      - home_lr:
          params:
            pose_name: home_lr
      - reach_to_grasp_left:
          params:
            pose_name: reach_to_grasp_left
      - reach_to_grasp_right:
          params:
            pose_name: reach_to_grasp_right
      - homing_inward:
          params:
            pose_name: homing_inward

record_bag:
  cmd: ~/data/record_bag.bash
  machine: *control
  docker: *docker-dev
  show_ui: false

record_bag_perception:
  cmd: ~/data/record_bag_perception.bash
  machine: *control
  docker: *docker-dev
  show_ui: false

loco:
  cmd: roslaunch kyon_controller controller.launch xbot:=true closed_loop:=true joy:=false
  machine: *control
  ready_check: timeout 3 rostopic echo /mpc_solution -n 1
  docker: *docker-loco

ik:
  cmd: roslaunch kyon_cartesio kyon.launch gui:=false
  machine: *control
  docker: *docker-dev
  ready_check: timeout 3 rostopic echo /cartesian/solution -n 1

nav-slam:
  cmd: source ~/nav_ws/devel/setup.bash; roslaunch kyon_ros_nav hdl_graph_slam.launch 
  machine: *control
  docker: *docker-dev
  show_ui: true

nav-plan:
  cmd: source ~/nav_ws/devel/setup.bash; roslaunch kyon_ros_nav kyon_nav.launch        
  machine: *control
  docker: *docker-dev
  show_ui: true


